body {
    font-family: sans-serif;
    margin: 20px;
    color: #555;
}

h1 {
    color: #333;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: black;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button.red {
    background-color: #f44336;
}
/*新增*/
.button.yellow {
    background-color: #ffeb3b; /* Yellow */
    color: black;
}

.largeInput {
    width: 500px;
    padding: 10px;
    font-size: 16px;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

#clearButton {
    margin-left: 10px;
}

#ongoingButton {
    margin-left: 10px;
}

/*新增*/
#exportButton {
    margin-left: 10px;
}

#insertButton {
    margin-top: 10px;
}

#insertIndex {
    width: 80px;
    margin-left: 10px;
}

.record-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    color: black;
}

#ongoingRecordContainer {
    margin-top: 10px;
}

.ongoing {
    background-color: #e0f2e0;
}
